# Core dependencies
ldap3==2.9.1
reportlab>=3.6.1
PyPDF2>=1.26.0
cryptography>=36.0.0
pywin32>=303; sys_platform == 'win32'

# Optional dependencies
python-ldap>=3.4.0; sys_platform != 'win32'

# API Server dependencies
flask==3.1.0
flask-cors==5.0.1
gunicorn>=20.1.0; sys_platform != 'win32'
waitress>=2.1.1; sys_platform == 'win32'

# Additional dependencies
Werkzeug==3.1.3
blinker==1.9.0
click==8.1.8
itsdangerous==2.2.0
pyasn1==0.6.1
